{% extends 'templateAdmin.html.twig' %}

{% block title %}Admin Page | MEILLAT Tristan{% endblock %}

{% block body %}

<div class="containerBlock">
  <h2>Ajouter un Article</h2>
  {% if successMessage is defined %}
    <p class={{class}}>{{successMessage}}</p>
  {% endif %}
  <form action="/portfolio/postsRequest" method="post" enctype="multipart/form-data">
    <div class="containerFirstBlock">
      <div class="containerInput">
        <input type="text" name="title" placeholder="Titre de l'article" required>
        <input type="text" name="chapo" placeholder="Chapo de l'article" required>
      </div>
      <div class="thumbmail">
        <div id="containerPreview">
        </div>
        <input type="file" name="fileToUpload" id="uploadThumbmail" accept="image/*" required>
      </div>
    </div>
    <textarea name="content" cols="30" rows="10" placeholder="Votre contenu... " required></textarea>
    <input class ="validate" type="submit" value="Valider">
  </form>
</div>

<script src="public/assets/js/thumbmail.js"></script>

{% endblock %}
