* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  position: fixed;
  width: 280px;
  transition: 0.3s;
}

a {
  color: #287ff1;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.space {
  height: 200vh;
}

header h1 {
  background-color: #3e8ef7;
  color: white;
  height: 80px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
}

header .sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #222c32;
}

header .sidebar li {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
}

header .sidebar li:hover {
  background-color: #263238;
  transition: 0.2s;
}

header .sidebar li a {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}

header .sidebar li a i {
  font-size: 30px;
  margin-right: 20px;
}

.topbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.topbar .checkbtn{
  display: none;
}

.topbar li a, .topbar li {
  color: #434950;
  padding: 15px 30px;
  font-weight: 400;
  transition: 0.3s;
  border-radius: 5px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.topbar li a:hover {
  color: #2c3135;
}

.topbar li i {
  font-size: 30px;
  margin-right: 10px;
}

.containerGlobal {
  margin-left: 280px;
  transition: 0.3s;
}

.containerBlock {
  padding: 30px;
}

h2 {
  width: max-content;
  border-bottom: #3e8ef7 3px solid;
  font-size: 27px;
}

.containerBlock h2 {
  margin: 10px 0 80px 50px;
}

.containerBlock p {
  margin-left: 50px;
  margin-top: -50px;
  font-weight: 500;
  font-size: 17px;
}

.containerBlock .errorMessage {
  color: #fc4d3c;
}

.containerBlock .successMessage {
  color: #479860;
}

.containerBlock form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  margin-top: 30px;
}

.containerBlock form .containerFirstBlock {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.containerBlock form .containerInput {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.containerBlock form .thumbmail {
  height: 200px;
}

.containerBlock form .thumbmail #containerPreview {
  background-color: #f5f5f5;
  border: #3e8ef7 2px solid;
  width: 450px;
  height: 300px;
  background-size: cover;
  box-shadow: 0 0 18px -7px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  padding: 20px;
  margin-top: 20px;
  resize: none;
  border: none;
  border-bottom: 1px #222c32 solid;
}

.containerBlock input {
  width: 90%;
  border-color: #dad9d9;
  font-size: 16px;
}

.containerBlock form textarea {
  width: 90%;
  height: 300px;
  border: #dad9d9 solid 1px;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

input:focus-visible {
  border: #e0e3e6;
  border-bottom: none;
}

.containerBlock textarea:focus-visible {
  border: none;
}

.containerBlock form .validate {
  width: 50%;
  background-color: #3e8ef7;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.containerTablePosts {
  padding: 50px;
}

.containerTablePosts h2 {
  margin-bottom: 20px;
}

.containerTablePosts .containerTable {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccd0d4;
  margin-top: 30px;
  min-width: 90%;
  overflow-x: scroll;
  align-items: flex-start;
}

.containerTablePosts .containerTable .containerHeaderTable {
  border-bottom: 1px solid #ccd0d4;
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.containerTablePosts .content {
  width: 30%;
  min-width: 250px;
  padding-right: 10px;
}

.containerTablePosts .title {
  width: 20%;
  min-width: 250px;
  padding-right: 10px;
}

.containerTablePosts .mail,
.containerTablePosts .admin{
  width: 15%;
  min-width: 200px;
  padding-right: 10px;
}

.containerTablePosts .lastModif,
.containerTablePosts .dateCreate {
  width: 10%;
  min-width: 150px;
  padding-right: 10px;
}

.containerTablePosts .author,
.containerTablePosts .modif,
.containerTablePosts .delete,
.containerTablePosts .validate,
.containerTablePosts .id,
.containerTablePosts .name {
  width: 10%;
  min-width: 150px;
  padding-right: 10px;
}

.containerTablePosts .containerTable .containerPosts .comment {
  height: auto;
  padding: 15px 0;
}

.containerTablePosts .Y {
  color: #479860;
}

.containerTablePosts .N {
  color: #fd7a52;
}

.containerTablePosts .containerPosts .post {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
}

.containerTablePosts .containerPosts{
  width: 100%;
}

.containerTablePosts .containerPosts .post:nth-child(odd) {
  background-color: #ececec;
}

.containerTablePosts .containerPosts .delete a {
  cursor: pointer;
}

.containerTablePosts .popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3131317e;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup .containerContent {
  width: 500px;
  height: 300px;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.popup .containerContent .button {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.popup .containerContent .button a {
  color: white;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup .containerContent .button .delete {
  background-color: #fc4d3c;
  cursor: pointer;
}

.popup .containerContent .button .return {
  background-color: #ccd0d4;
  cursor: pointer;
}

.flash-success{
  background-color: #C5EDBA;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 17px;
}

@media only screen and (max-width: 1400px) {
  .containerTablePosts .containerTable .containerHeaderTable{
    justify-content: flex-start;
    width: auto;
  }

  .containerTablePosts .containerPosts .post{
    justify-content: flex-start;
  }

  .containerTablePosts .containerPosts{
    width: auto;
  }
}

@media only screen and (max-width: 1500px) {
  .containerBlock form .containerFirstBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  header{
    transform: translateX(-280px);
  }

  .containerGlobal{
    margin-left: 0;
    transform: translateX(0px);
  }

  .topbar .containerStart{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topbar .checkbtn{
     display: block;
  }
}

@media only screen and (max-width: 650px) {
  .topbar li a{
    font-size: 13px;
  }

  .topbar .checkbtn{
    margin-left: 20px;
  }

  .topbar li{
    padding: 0;
  }

  .topbar li a{
    padding-right: 0;
    margin-right: 0;
  }

  .topbar li a i{
    font-size: 20px;
  }

  .topbar{
    justify-content: flex-start;
  }

  h2{
    font-size: 20px;
  }

  a{
    font-size: 13px;
  }

  p{
    font-size: 13px;
  }

  .containerBlock form textarea{
    height: 300px;
  }

  .containerBlock form .thumbmail #containerPreview{
    width: 300px;
    height: 200px;
  }

  .containerBlock form .containerInput{
    width: 100%;
  }

  .containerBlock form .containerInput input::placeholder,
  .containerBlock input,
  .containerBlock form textarea::placeholder,
  .containerBlock form textarea{
    font-size: 13px;
  }

  .containerBlock form .validate{
    padding: 10px 5px;
    width: 130px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .topbar li a{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
