* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #19191b;
    color: white;
  }
  
  h2 {
    font-size: 35px;
  }
  
  .cursive {
    font-family: 'La Belle Aurore', cursive;
    font-size: 20px;
  }
  
  .cursive.blue {
    color: #0d669b;
  }
  
  .cursive.yellow {
    color: #cdbc82;
  }
  
  .cursive.pink {
    color: #a26e84;
  }
  
  .cursive.green {
    color: #479860;
  }
  
  header {
    z-index: 3;
    position: relative;
  }
  
  nav {
    background: transparent;
    height: 110px;
    width: 100%;
  }
  
  nav .logo img,
  footer .containerFooter .cardFooter img {
    max-height: 110px;
    width: auto;
    margin-left: 50px;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  a.active,
  a:hover {
    transition: 0.5s;
    color: #19191b;
  }
  
  .firstLink:hover {
    background-color: #479860;
    opacity: 60%;
  }
  
  .secondLink:hover {
    background-color: #cdbc82;
    opacity: 60%;
  }
  
  .thirdLink:hover {
    background-color: #a26e84;
    opacity: 60%;
  }
  
  .fourthLink:hover {
    background-color: #0d669b;
    opacity: 60%;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  footer {
    border-top: #232325 solid 1px;
    position: relative;
    z-index: 2;
  }
  
  footer .containerFooter {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-top: 20px;
  }
  
  footer .cardFooter {
    display: flex;
    flex-direction: column;
  }
  
  footer .cardFooter p {
    margin-left: 50px;
    margin-bottom: 30px;
  }
  
  footer .cardFooter h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  footer .cardFooter a {
    color: rgb(216, 215, 215);
    font-weight: 300;
    transition: 0.2s;
  }
  
  footer .cardFooter a:hover {
    color: white;
    text-decoration: underline;
    transition: 0.2s;
  }
  
  .containerGlobal {
    padding: 50px 100px;
    min-height: 100vh;
  }
  
  .containerHeaderHome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
  }
  
  .containerHeaderHome .backgroundHeader {
    background-image: url("../images/photographe-paysage.jpg");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: grayscale(100%);
    opacity: 4%;
  }
  
  .containerHeaderHome .containerTitle h3 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .containerHeaderHome .containerTitle h1 {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .containerHeaderHome .containerTitle h2 {
    font-size: 40px;
    font-weight: 500;
  }
  
  .containerHeaderHome .containerTitle .socialList {
    display: flex;
    justify-content: center;
    gap: 30%;
    margin-top: 50px;
  }
  
  .containerHeaderHome .containerTitle .socialList li {
    position: relative;
    width: 100px;
    height: 100px;
    border: 4px solid transparent;
    border-radius: 100px;
    background: #2c2c30;
    background-clip: padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .containerHeaderHome .containerTitle .socialList .firstChild::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(to left, #0d669b 0%, #cdbc82 100%);
    content: '';
    z-index: -1;
    border-radius: 100px;
  }
  
  .containerHeaderHome .containerTitle .socialList .secondChild::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(to left, #479860 0%, #a26e84 100%);
    content: '';
    z-index: -1;
    border-radius: 100px;
  }
  
  .containerHeaderHome .containerTitle .socialList li a {
    color: white;
    font-size: 50px;
  }
  
  .containerHeaderHome .containerPictureProfil {
    width: 15%;
    min-width: 173px;
    border-radius: 15%;
    overflow: hidden;
    background-color: rgba(25, 25, 27, 0.5);
    border-left: #0d669b solid 3px;
    border-bottom: #479860 solid 3px;
    border-top: #a26e84 solid 3px;
    border-right: #cdbc82 solid 3px;
    transition: all ease 0.1s;
  }
  
  .containerHeaderHome .containerPictureProfil:hover {
    border-left: #0d669b solid;
    border-bottom: #479860 solid;
    border-top: #a26e84 solid;
    border-right: #cdbc82 solid;
    transition: all ease 0.3s;
  }
  
  .containerHeaderHome .containerPictureProfil img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
  
  .containerDescription {
    display: flex;
    justify-content: space-around;
    height: 700px;
  }
  
  .containerDescription .about {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .containerDescription .competence {
    width: 40%;
  }
  
  .containerDescription .about .title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .containerDescription .about .title h2 {
    margin-top: -15px;
    margin-bottom: -10px;
    font-size: 2vw;
  }
  
  .containerDescription .about .containerContent {
    padding: 0 20px;
  }
  
  .containerDescription .about .containerContent p {
    margin-bottom: 10px;
    font-size: 1.4vw;
  }
  
  .containerDescription .about p.cursive.pink {
    margin-left: -20px;
  }
  
  .containerDescription .about p.cursive.blue.first {
    top: 0;
    left: 0;
    position: absolute;
    margin-left: -50px;
  }
  
  .containerDescription .about p.cursive.blue.second {
    bottom: 0;
    left: 0;
    position: absolute;
    margin-left: -50px;
  }
  
  .containerDescription .about .containerFile {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -75px;
    display: flex;
    justify-content: center;
  }
  
  .containerDescription .about .cv .title .containerFile a {
    border: #cdbc82 solid 1px;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px 15px;
    color: white;
    transition: 0.3s;
    font-size: 35px;
    font-weight: 700;
  }
  
  .containerDescription .about .containerFile a:hover {
    border: white solid 1px;
    border-radius: 3px;
    background-color: #cdbc82;
    padding: 10px 15px;
    color: white;
    transition: 0.3s;
  }
  
  .containerDescription .competence h2 {
    margin-bottom: 20px;
    font-size: 2vw;
  }
  
  .containerDescription .competence .iconCompetence {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10%;
  }
  
  .containerDescription .competence .containerImg {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 236, 236);
    border: 3px #0d669b solid;
    border-radius: 100%;
    margin-top: 20px;
  }
  
  .containerDescription .competence .containerImg img {
    width: 70px;
    height: auto;
  }
  
  .containerForm {
    display: flex;
    justify-content: center;
  }
  
  .containerForm h2 {
    margin: 40px;
    text-align: center;
  }
  
  .containerForm form {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  
  .containerForm form .containerName {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .containerForm form .containerName input {
    width: 45%;
    height: 50px;
  }
  
  .containerForm form input,
  .containerForm form textarea,
  textarea {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: solid 1px rgb(175, 175, 175);
    margin-top: 10px;
    font-family: "montserrat", sans-serif;
    resize: none;
  }
  
  .containerForm input::placeholder,
  .containerForm textarea::placeholder {
    color: #58585f;
    font-family: "montserrat", sans-serif;
    font-size: 18px;
  }
  
  .containerForm input[type="submit"] {
    border: none;
    color: #479860;
    width: 120px;
    font-weight: 600;
    font-size: 20px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 15px;
  }
  
  .containerForm input[type="submit"]:hover {
    background: #479860;
    color: white;
    transition: 0.2s;
  }
  
  .containerConnexion {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  
  .containerSpace {
    height: 75vh;
    width: 100%;
    z-index: 0;
    position: relative;
  }
  
  .containerFormConnexion {
    background-color: #262629;
    -webkit-box-shadow: 0 0 30px -4px #262629;
    -moz-box-shadow: 0 0 30px -4px #262629;
    box-shadow: 0 0 30px -4px #262629;
    width: 600px;
    padding: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .containerFormConnexion h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .containerFormConnexion form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .containerFormConnexion form input {
    width: 80%;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: solid 1px rgb(175, 175, 175);
    margin-top: 20px;
    font-family: "montserrat", sans-serif;
    font-size: 17px;
  }
  
  .containerFormConnexion form input::placeholder,
  .containerFormConnexion form input[type='submit']::placeholder {
    color: #58585f;
    font-family: "montserrat", sans-serif;
  }
  
  .containerFormConnexion form input[type='submit'] {
    background-image: linear-gradient(to right top, #0d669b, #55669c, #7a6697, #93688e, #a26e84);
    border: none;
    height: 50px;
    margin-top: 40px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .containerConnexion .containerFormConnexion p {
    text-align: center;
    margin-top: 30px;
  }
  
  .containerFormConnexion p a {
    color: #0d669b;
    font-weight: 500;
  }
  
  .containerFormConnexion p a:hover {
    text-decoration: underline #0d669b;
  }
  
  .containerFormConnexion .required {
    color: #58585f;
    margin-bottom: 20px;
  }
  
  .containerFormConnexion .inscriptionTitle {
    margin-bottom: 0;
  }
  
  .containerFormConnexion .successMessage {
    color: #479860;
    margin-top: 5px;
  }
  
  .containerFormConnexion .errorMessage {
    color: #fc4d3c;
    margin-top: 5px;
  }
  
  .containerPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .containerPosts .postCard {
    padding-right: 20px;
    width: 80%;
    margin-top: 100px;
    border: 1px solid #242427;
    display: flex;
    height: 400px;
    justify-content: space-between;
    transition: 0.1s;
  }
  
  .containerPosts .postCard:hover {
    background-color: #202021;
  }
  
  .containerPosts .postCard .title {
    font-size: 30px;
  }
  
  .containerPosts .postCard .info {
    margin-bottom: 30px;
    color: #7c7c7c;
  }
  
  .containerPosts .postCard .thumbnail {
    height: 100%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .containerPosts .postCard .containerText {
    margin-left: 30px;
    width: 50%;
    margin-top: 20px;
    position: relative;
  }
  
  .containerPosts .postCard .chapo {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .containerPosts .postCard .content {
    padding-right: 20px;
  }
  
  .containerPosts .postCard .containerText a {
    color: white;
    padding: 10px 20px 10px 20px;
    border: solid 2px #7a6697;
    background-color: transparent;
    position: absolute;
    bottom: 30px;
    right: 50px;
    transition: 0.3s;
  }
  
  .containerPosts .postCard .containerText a:hover {
    background-color: #7a6697;
    border-color: white;
    color: white;
    transition: 0.3s;
  }
  
  h1 {
    font-size: 40px;
  }
  
  .containerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .containerPost {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .containerPost .title {
    font-size: 40px;
    text-decoration: underline #55669c 2px;
  }
  
  .containerPost .chapo {
    font-size: 25px;
    margin-top: 20px;
  }
  
  .containerPost .info {
    font-size: 20px;
    color: rgb(189, 189, 189);
    text-align: right;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  
  .containerPost img {
    width: 100%;
  }
  
  .containerPost .content {
    padding: 40px;
  }
  
  .comments {
    display: flex;
    flex-direction: column;
  }
  
  .comments textarea {
    border: #58585f 1px solid;
    border-radius: 3px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .titleComments {
    margin-bottom: 20px;
  }
  
  .comments input {
    color: white;
    padding: 10px 20px 10px 20px;
    border: solid 2px #7a6697;
    background-color: transparent;
    transition: 0.3s;
    width: 25%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .comments input:hover {
    background-color: #7a6697;
    border-color: white;
    color: white;
    transition: 0.3s;
  }
  
  .successMessage {
    color: #479860;
    margin-top: 10px;
  }
  
  .errorMessage {
    color: #fc4d3c;
    margin-top: 10px;
  }
  
  .containerComments .comment {
    background-color: #1f1f22;
    padding: 20px 20px 10px 20px;
    margin: 30px;
    border: solid 1px #2d2d30;
    border-radius: 3px;
  }
  
  .containerComments .comment .headerComment {
    display: flex;
    justify-content: space-between;
  }
  
  .containerComments .comment .author {
    font-size: 20px;
    font-weight: 600;
  }
  
  .containerComments .comment .date {
    color: rgb(167, 167, 167);
  }
  
  @media only screen and (max-width: 1800px){
    .containerPosts .postCard{
      flex-direction: column;
      height: auto;
    }
  
    .containerPosts .postCard .thumbnail{
      width: 100%;
      height: auto;
    }
  
    .containerPosts .postCard .containerText{
      width: 100%;
      padding-bottom: 100px;
    }
  }
  
  @media only screen and (max-width: 1425px){
    .containerForm form{
      margin-top: 100px;
      width: 50%;
      min-width: 300px;
    }
  
    .containerForm h2{
      margin: 40px 0px;
    }
  
    .containerBlock > *{
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .containerHeaderHome{
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      height: auto;
    }
  
    .containerHeaderHome .backgroundHeader{
      background: #1c1c1e;
    }
  
    .containerHeaderHome .containerTitle h3 {
      font-size: 5vw;
    }
    
    .containerHeaderHome .containerTitle h1 {
      font-size: 6vw;
      font-weight: 600;
      margin-bottom: 20px;
    }
    
    .containerHeaderHome .containerTitle h2 {
      font-size: 5.5vw;
      font-weight: 500;
    }
  
    .containerGlobal{
      padding: 50px;
    }
  
    .containerDescription .about p.cursive.blue.first{
      top: -20px;
    }
    
    .containerDescription .about .title h2{
      font-size: 3vw;
    }
  
    .containerDescription{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 50px;
    }
  
    .containerDescription .about .containerContent p{
      font-size: 17px;
    }
  
    .containerDescription h2{
      font-size: 25px;
    }
  
    .containerDescription .about{
      width: 90%;
    }
  
    .containerDescription .competence{
      width: 90%;
    }
  
    .containerDescription .competence h2{
      margin-top: 50px;
      font-size: 30px;
    }
  
    footer .containerFooter .cardFooter img{
      display: none;
    }
    
    footer .containerFooter{
      flex-wrap: wrap;
      width: 95%;
      justify-content: space-between;
      padding: 0 20px;
    }
  
    footer .cardFooter p{
      margin-left: 0;
    }
  }
  
  @media (min-width: 952px) {
    label.logo {
      font-size: 30px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    nav {
      background-color: #1c1c1e;
    }
  
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #1c1c1e;
      top: 100px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    h1{
      font-size: 30px;
    }
  
    .containerHeaderHome .containerPictureProfil {
      min-width: 173px;
    }
  
    a:hover,
    a.active {
      background: none;
      color: white;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  
    .containerPosts .postCard{
      width: 95%;
    }
  
    .containerPosts .postCard .title{
      font-size: 23px;
    }
  
    .containerPosts .postCard .containerText{
      margin: 30px;
      width: 95%;
    }
  
    .containerPosts .postCard .info{
      font-size: 13px;
    }
  
    .containerPosts .postCard .content{
      font-size: 15px;
    }
  
    .containerPost .title{
      font-size: 30px;
    }
  
    .containerPost .chapo{
      font-size: 20px;
    }
  
    .containerPost .info{
      font-size: 15px;
      margin-bottom: 25px;
    }
  
    h2{
      font-size: 30px;
    }
  
    .containerGlobal{
      min-height: 90vh;
    }
  
    .containerSpace{
      height: 50vh;
      z-index: 0;
    }
  
    .containerFormConnexion{
      width: 100%;
      box-shadow: none;
      background-color: transparent;
      padding: 0;
      height: auto;
    }
  
    .containerFormConnexion p{
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    nav .logo img{
      max-height: 70px;
      margin-left: 10px;
    }
  
    nav .logo{
      display: flex;
      align-items: center;
      height: 100%;
    }
  
    .containerGlobal{
      padding: 40px;
    }
  
    .containerDescription .about .containerContent p{
      font-size: 15px;
    }
  
    .containerDescription .competence .iconCompetence{
      gap: 7%;
    }
  
    .containerDescription .competence .containerImg{
      width: 110px;
      height: 110px;
    }
  
    .containerDescription .competence .containerImg img{
      width: 60px;
      height: auto;
    }
  
    .containerDescription .about .cv .title .containerFile{
      margin: 0;
    }
  
    .containerDescription .about .cv .title .containerFile a{
      font-size: 25px;
    }
  
    .comments textarea{
      height: 350px;
    }
  
    .comments input{
      min-width: 100px;
    }
  }